### Importing necessary libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Reading the datasets

In [10]:
expedition_data = pd.read_csv("EXPEDITION_DATA.csv", encoding='cp1252')
peaks_data = pd.read_csv("PEAKS_DATA.csv")

### Inspecting the datasets

In [11]:
expedition_data.head()

,EXPID,PEAKID,YEAR,SEASON,SEASON_FACTOR,HOST,HOST_FACTOR,ROUTE1,ROUTE2,ROUTE3,...,ACCIDENTS,ACHIEVMENT,AGENCY,COMRTE,STDRTE,PRIMRTE,PRIMMEM,PRIMREF,PRIMID,CHKSUM
0,EVER20101,EVER,2020,1,Spring,2,China,N Col-NE Ridge,NaN,NaN,...,NaN,NaN,Holy Mountain Adventure,True,True,False,False,False,NaN,2465291
1,EVER20102,EVER,2020,1,Spring,2,China,N Col-NE Ridge,NaN,NaN,...,NaN,NaN,NaN,True,True,False,False,False,NaN,2465292
2,EVER20103,EVER,2020,1,Spring,2,China,N Col-NE Ridge,NaN,NaN,...,NaN,NaN,Holy Mountain Adventure,True,True,False,False,False,NaN,2465293
3,AMAD20301,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,NaN,NaN,...,NaN,NaN,Seven Summit Treks,True,False,False,False,False,NaN,2463299
4,AMAD20302,AMAD,2020,3,Autumn,1,Nepal,SW Ridge,NaN,NaN,...,NaN,NaN,Himalayan Guides,True,False,False,False,False,NaN,2463299

In [12]:
peaks_data.head()

,PEAKID,PKNAME,PKNAME2,LOCATION,HEIGHTM,HEIGHTF,HIMAL,HIMAL_FACTOR,REGION,REGION_FACTOR,...,PEAKMEMO,PYEAR,PSEASON,PEXPID,PSMTDATE,PCOUNTRY,PSUMMITERS,PSMTNOTE,REFERMEMO,PHOTOMEMO
0,AMAD,Ama Dablam,Amai Dablang,Khumbu Himal,6814,22356,12,Khumbu,2,Khumbu-Rolwaling-Makalu,...,8.0,1961.0,1,AMAD61101,Mar 13,"New Zealand, USA, UK","Mike Gill, Wally Romanes, Barry Bishop, Michae...",NaN,NaN,13.0
1,AMPG,Amphu Gyabjen,Amphu Gyabien,Khumbu Himal (N of Ama Dablam),5630,18471,12,Khumbu,2,Khumbu-Rolwaling-Makalu,...,20.0,1953.0,1,AMPG53101,Apr 11,UK,"John Hunt, Tom Bourdillon",NaN,NaN,NaN
2,ANN1,Annapurna I,NaN,Annapurna Himal,8091,26545,1,Annapurna,5,Annapurna-Damodar-Peri,...,23.0,1950.0,1,ANN150101,Jun 03,France,"Maurice Herzog, Louis Lachenal",NaN,25.0,26.0
3,ANN2,Annapurna II,NaN,Annapurna Himal,7937,26040,1,Annapurna,5,Annapurna-Damodar-Peri,...,31.0,1960.0,1,ANN260101,May 17,"UK, Nepal","Richard Grant, Chris Bonington, Ang Nyima Sherpa",NaN,33.0,34.0
4,ANN3,Annapurna III,NaN,Annapurna Himal,7555,24787,1,Annapurna,5,Annapurna-Damodar-Peri,...,35.0,1961.0,1,ANN361101,May 06,India,"Mohan S. Kohli, Sonam Gyatso, Sonam Girmi",NaN,NaN,37.0

In [23]:
expedition_data.shape, peaks_data.shape

((882, 69), (480, 29))

In [21]:
peaks_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 29 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PEAKID          480 non-null    object
 1   PKNAME          480 non-null    object
 2   PKNAME2         257 non-null    object
 3   LOCATION        479 non-null    object
 4   HEIGHTM         480 non-null    int64
 5   HEIGHTF         480 non-null    int64
 6   HIMAL           480 non-null    int64
 7   HIMAL_FACTOR    480 non-null    object
 8   REGION          480 non-null    int64
 9   REGION_FACTOR   480 non-null    object
 10  OPEN            480 non-null    bool
 11  UNLISTED        480 non-null    bool
 12  TREKKING        480 non-null    bool
 13  TREKYEAR        29 non-null     float64
 14  RESTRICT        275 non-null    object
 15  PHOST           480 non-null    int64
 16  PHOST_FACTOR    480 non-null    object
 17  PSTATUS         480 non-null    int64
 18  PSTATUS_FACTOR  480 non-null    object
 19  PEAKMEMO        475 non-null    float64
 20  PYEAR           362 non-null    float64
 21  PSEASON         480 non-null    int64
 22  PEXPID          360 non-null    object
 23  PSMTDATE        357 non-null    object
 24  PCOUNTRY        362 non-null    object
 25  PSUMMITERS      477 non-null    object
 26  PSMTNOTE        76 non-null     object
 27  REFERMEMO       19 non-null     float64
 28  PHOTOMEMO       78 non-null     float64
dtypes: bool(3), float64(5), int64(7), object(14)
memory usage: 99.0+ KB

In [22]:
expedition_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 69 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   EXPID              882 non-null    object
 1   PEAKID             882 non-null    object
 2   YEAR               882 non-null    int64
 3   SEASON             882 non-null    int64
 4   SEASON_FACTOR      882 non-null    object
 5   HOST               882 non-null    int64
 6   HOST_FACTOR        882 non-null    object
 7   ROUTE1             862 non-null    object
 8   ROUTE2             43 non-null     object
 9   ROUTE3             0 non-null      float64
 10  ROUTE4             0 non-null      float64
 11  NATION             882 non-null    object
 12  LEADERS            882 non-null    object
 13  SPONSOR            882 non-null    object
 14  SUCCESS1           882 non-null    bool
 15  SUCCESS2           882 non-null    bool
 16  SUCCESS3           882 non-null    bool
 17  SUCCESS4           882 non-null    bool
 18  ASCENT1            29 non-null     object
 19  ASCENT2            1 non-null      object
 20  ASCENT3            0 non-null      float64
 21  ASCENT4            0 non-null      float64
 22  CLAIMED            882 non-null    bool
 23  DISPUTED           882 non-null    bool
 24  COUNTRIES          582 non-null    object
 25  APPROACH           328 non-null    object
 26  BCDATE             409 non-null    object
 27  SMTDATE            795 non-null    object
 28  SMTTIME            365 non-null    float64
 29  SMTDAYS            882 non-null    int64
 30  TOTDAYS            882 non-null    int64
 31  TERMDATE           338 non-null    object
 32  TERMREASON         882 non-null    int64
 33  TERMREASON_FACTOR  882 non-null    object
 34  TERMNOTE           209 non-null    object
 35  HIGHPOINT          882 non-null    int64
 36  TRAVERSE           882 non-null    bool
 37  SKI                882 non-null    bool
 38  PARAPENTE          882 non-null    bool
 39  CAMPS              882 non-null    int64
 40  ROPE               882 non-null    int64
 41  TOTMEMBERS         882 non-null    int64
 42  SMTMEMBERS         882 non-null    int64
 43  MDEATHS            882 non-null    int64
 44  TOTHIRED           882 non-null    int64
 45  SMTHIRED           882 non-null    int64
 46  HDEATHS            882 non-null    int64
 47  NOHIRED            882 non-null    bool
 48  O2USED             882 non-null    bool
 49  O2NONE             882 non-null    bool
 50  O2CLIMB            882 non-null    bool
 51  O2DESCENT          882 non-null    bool
 52  O2SLEEP            882 non-null    bool
 53  O2MEDICAL          882 non-null    bool
 54  O2TAKEN            882 non-null    bool
 55  O2UNKWN            882 non-null    bool
 56  OTHERSMTS          148 non-null    object
 57  CAMPSITES          845 non-null    object
 58  ROUTEMEMO          528 non-null    float64
 59  ACCIDENTS          12 non-null     object
 60  ACHIEVMENT         25 non-null     object
 61  AGENCY             857 non-null    object
 62  COMRTE             882 non-null    bool
 63  STDRTE             882 non-null    bool
 64  PRIMRTE            882 non-null    bool
 65  PRIMMEM            882 non-null    bool
 66  PRIMREF            882 non-null    bool
 67  PRIMID             67 non-null     object
 68  CHKSUM             882 non-null    int64
dtypes: bool(23), float64(6), int64(16), object(24)
memory usage: 336.9+ KB

### Merging the two datasets using inner join

In [30]:
merged_data = pd.merge(left=expedition_data, right=peaks_data, how='inner', on='PEAKID')

merged_data.shape, merged_data.columns

((882, 97),
 Index(['EXPID', 'PEAKID', 'YEAR', 'SEASON', 'SEASON_FACTOR', 'HOST',
        'HOST_FACTOR', 'ROUTE1', 'ROUTE2', 'ROUTE3', 'ROUTE4', 'NATION',
        'LEADERS', 'SPONSOR', 'SUCCESS1', 'SUCCESS2', 'SUCCESS3', 'SUCCESS4',
        'ASCENT1', 'ASCENT2', 'ASCENT3', 'ASCENT4', 'CLAIMED', 'DISPUTED',
        'COUNTRIES', 'APPROACH', 'BCDATE', 'SMTDATE', 'SMTTIME', 'SMTDAYS',
        'TOTDAYS', 'TERMDATE', 'TERMREASON', 'TERMREASON_FACTOR', 'TERMNOTE',
        'HIGHPOINT', 'TRAVERSE', 'SKI', 'PARAPENTE', 'CAMPS', 'ROPE',
        'TOTMEMBERS', 'SMTMEMBERS', 'MDEATHS', 'TOTHIRED', 'SMTHIRED',
        'HDEATHS', 'NOHIRED', 'O2USED', 'O2NONE', 'O2CLIMB', 'O2DESCENT',
        'O2SLEEP', 'O2MEDICAL', 'O2TAKEN', 'O2UNKWN', 'OTHERSMTS', 'CAMPSITES',
        'ROUTEMEMO', 'ACCIDENTS', 'ACHIEVMENT', 'AGENCY', 'COMRTE', 'STDRTE',
        'PRIMRTE', 'PRIMMEM', 'PRIMREF', 'PRIMID', 'CHKSUM', 'PKNAME',
        'PKNAME2', 'LOCATION', 'HEIGHTM', 'HEIGHTF', 'HIMAL', 'HIMAL_FACTOR',
        'REGION', 'REGION_FACTOR', 'OPEN', 'UNLISTED', 'TREKKING', 'TREKYEAR',
        'RESTRICT', 'PHOST', 'PHOST_FACTOR', 'PSTATUS', 'PSTATUS_FACTOR',
        'PEAKMEMO', 'PYEAR', 'PSEASON', 'PEXPID', 'PSMTDATE', 'PCOUNTRY',
        'PSUMMITERS', 'PSMTNOTE', 'REFERMEMO', 'PHOTOMEMO'],
       dtype='object'))

### Filtering out useless columns/features

In [34]:
#df is the final dataframe to be analyzed
df = merged_data[['PEAKID', 'EXPID', 'YEAR', 'SEASON', 'SEASON_FACTOR', 'HOST', 'HOST_FACTOR',
                  'ROUTE1', 'ROUTE2', 'ROUTE3', 'ROUTE4', 'TOTMEMBERS', 'SUCCESS1', 'SUCCESS2',
                  'SUCCESS3', 'SUCCESS4', 'TERMREASON_FACTOR', 'O2USED', 'O2NONE', 'NOHIRED',
                  'MDEATHS', 'HDEATHS', 'PKNAME', 'PKNAME2', 'HEIGHTM', 'HEIGHTF', 'HIMAL_FACTOR',
                  'REGION_FACTOR', 'OPEN', 'PYEAR', 'PSTATUS_FACTOR', 'PSMTDATE']]

In [35]:
df.head()

,PEAKID,EXPID,YEAR,SEASON,SEASON_FACTOR,HOST,HOST_FACTOR,ROUTE1,ROUTE2,ROUTE3,...,PKNAME,PKNAME2,HEIGHTM,HEIGHTF,HIMAL_FACTOR,REGION_FACTOR,OPEN,PYEAR,PSTATUS_FACTOR,PSMTDATE
0,EVER,EVER20101,2020,1,Spring,2,China,N Col-NE Ridge,NaN,NaN,...,Everest,"Sagarmatha, Chomolungma, Qomolungma",8849,29032,Khumbu,Khumbu-Rolwaling-Makalu,True,1953.0,Climbed,May 29
1,EVER,EVER20102,2020,1,Spring,2,China,N Col-NE Ridge,NaN,NaN,...,Everest,"Sagarmatha, Chomolungma, Qomolungma",8849,29032,Khumbu,Khumbu-Rolwaling-Makalu,True,1953.0,Climbed,May 29
2,EVER,EVER20103,2020,1,Spring,2,China,N Col-NE Ridge,NaN,NaN,...,Everest,"Sagarmatha, Chomolungma, Qomolungma",8849,29032,Khumbu,Khumbu-Rolwaling-Makalu,True,1953.0,Climbed,May 29
3,AMAD,AMAD20301,2020,3,Autumn,1,Nepal,SW Ridge,NaN,NaN,...,Ama Dablam,Amai Dablang,6814,22356,Khumbu,Khumbu-Rolwaling-Makalu,True,1961.0,Climbed,Mar 13
4,AMAD,AMAD20302,2020,3,Autumn,1,Nepal,SW Ridge,NaN,NaN,...,Ama Dablam,Amai Dablang,6814,22356,Khumbu,Khumbu-Rolwaling-Makalu,True,1961.0,Climbed,Mar 13

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 882 entries, 0 to 881
Data columns (total 32 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PEAKID             882 non-null    object
 1   EXPID              882 non-null    object
 2   YEAR               882 non-null    int64
 3   SEASON             882 non-null    int64
 4   SEASON_FACTOR      882 non-null    object
 5   HOST               882 non-null    int64
 6   HOST_FACTOR        882 non-null    object
 7   ROUTE1             862 non-null    object
 8   ROUTE2             43 non-null     object
 9   ROUTE3             0 non-null      float64
 10  ROUTE4             0 non-null      float64
 11  TOTMEMBERS         882 non-null    int64
 12  SUCCESS1           882 non-null    bool
 13  SUCCESS2           882 non-null    bool
 14  SUCCESS3           882 non-null    bool
 15  SUCCESS4           882 non-null    bool
 16  TERMREASON_FACTOR  882 non-null    object
 17  O2USED             882 non-null    bool
 18  O2NONE             882 non-null    bool
 19  NOHIRED            882 non-null    bool
 20  MDEATHS            882 non-null    int64
 21  HDEATHS            882 non-null    int64
 22  PKNAME             882 non-null    object
 23  PKNAME2            531 non-null    object
 24  HEIGHTM            882 non-null    int64
 25  HEIGHTF            882 non-null    int64
 26  HIMAL_FACTOR       882 non-null    object
 27  REGION_FACTOR      882 non-null    object
 28  OPEN               882 non-null    bool
 29  PYEAR              861 non-null    float64
 30  PSTATUS_FACTOR     882 non-null    object
 31  PSMTDATE           861 non-null    object
dtypes: bool(8), float64(3), int64(8), object(13)
memory usage: 172.4+ KB

In [37]:
df.isnull().sum()

PEAKID                 0
EXPID                  0
YEAR                   0
SEASON                 0
SEASON_FACTOR          0
HOST                   0
HOST_FACTOR            0
ROUTE1                20
ROUTE2               839
ROUTE3               882
ROUTE4               882
TOTMEMBERS             0
SUCCESS1               0
SUCCESS2               0
SUCCESS3               0
SUCCESS4               0
TERMREASON_FACTOR      0
O2USED                 0
O2NONE                 0
NOHIRED                0
MDEATHS                0
HDEATHS                0
PKNAME                 0
PKNAME2              351
HEIGHTM                0
HEIGHTF                0
HIMAL_FACTOR           0
REGION_FACTOR          0
OPEN                   0
PYEAR                 21
PSTATUS_FACTOR         0
PSMTDATE              21
dtype: int64